<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <a href="/tester-a11Y/" title="Accueil - Démo accessibilité numérique">
                <p class="fr-logo">
                  République<br>Française
                </p>
              </a>
            </div>
            <div class="fr-header__navbar">
              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-menu" aria-haspopup="menu" title="Menu">
                Menu
              </button>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/tester-a11Y/" title="Accueil - Démo accessibilité numérique">
              <p class="fr-header__service-title">Démo accessibilité numérique</p>
            </a>
            <p class="fr-header__service-tagline">Sensibilisation aux points de blocages récurrents</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Menu modal -->
  <div class="fr-header__menu fr-modal" id="modal-menu" aria-labelledby="button-menu">
    <div class="fr-container">
      <button class="fr-btn--close fr-btn" aria-controls="modal-menu" title="Fermer">
        Fermer
      </button>
      <nav class="fr-nav" id="navigation" role="navigation" aria-label="Menu principal">
        <ul class="fr-nav__list">
          <li class="fr-nav__item">
            <a href="/tester-a11Y/les-contrastes" class="fr-nav__link" target="_self">#1 Les contrastes</a>
          </li>
          <li class="fr-nav__item">
            <a href="/tester-a11Y/la-langue" class="fr-nav__link" target="_self">#2 La langue</a>
          </li>
          <li class="fr-nav__item">
            <a href="/tester-a11Y/les-images" class="fr-nav__link" target="_self">#3 Les images</a>
          </li>
          <li class="fr-nav__item">
            <a href="/tester-a11Y/les-formulaires" class="fr-nav__link" target="_self">#4 Les formulaires</a>
          </li>
          <li class="fr-nav__item">
            <a href="/tester-a11Y/cas-pratique-5" class="fr-nav__link" target="_self">#5 Les boutons</a>
          </li>
          <li class="fr-nav__item">
            <a href="/tester-a11Y/cas-pratique-6" class="fr-nav__link" target="_self">#6 Les liens</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
