<footer class="fr-footer" role="contentinfo" id="footer">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        <a href="/tester-a11Y/" title="Retour à l'accueil du site - Démo accessibilité numérique">
          <p class="fr-logo">
            République<br>Française
          </p>
        </a>
      </div>
      <div class="fr-footer__content">
        <p class="fr-footer__content-desc">
          Sensibilisation aux 6 points de blocages récurrents sur le web
        </p>
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" rel="noopener noreferrer" href="https://accessibilite.numerique.gouv.fr/">
              RGAA - Référentiel général d'amélioration de l'accessibilité
            </a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" rel="noopener noreferrer" href="https://www.systeme-de-design.gouv.fr/">
              Système de Design de l'État
            </a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" rel="noopener noreferrer" href="https://ara.numerique.gouv.fr/">
              Ara - Audits d'accessibilité
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="#">Accessibilité : non conforme</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" target="_blank" rel="noopener noreferrer" href="https://github.com/Alexmacapple/tester-a11Y">
            Code source sur GitHub
          </a>
        </li>
      </ul>
      <div class="fr-footer__bottom-copy">
        <p>
          Sauf mention contraire, tous les contenus de ce site sont sous
          <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank" rel="noopener noreferrer">licence etalab-2.0</a>
        </p>
      </div>
    </div>
  </div>
</footer>
